/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #271cc4;
    text-align: center;
}

p {
    color: #555;
    font-size: 26px;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Styling for the sections using Flexbox */
.flex-section {
    display: flex;
    justify-content: flex-end;
    align-items: row;
    margin: 20px 0;
}

#bottom-paragraph {
    font-size:15px;
}